@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

/* ###################### html elements styling ########################## */
html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

/* ############## utillity classes ################## */
.container {
  width: min(90%, 1200px);
  margin: 0 auto;
  padding: 1rem;
}
